# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.class

# IDE
.idea/
.vscode/

# Environment variables
.env

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Large datasets (optional)
dataset/job_posts.csv
